@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
button,
select {
	outline: none;
}

a:focus,
button:focus,
select:focus {
	outline: 2px solid #3b82f6;
}
